@use "@material/theme" with (
  $primary: #512da8,
  $secondary: #00796b,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/layout-grid/mdc-layout-grid";

@import "categoria";


@include card.core-styles;
@include textfield.core-styles;
@include icon-button.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mdc-top-app-bar {
  background-color: #512da8;
  position: absolute;
}

.mdc-top-app-bar__title {
  size: 25px;
}

.img-topbar {
  width: 2.5rem;
  height: 2.5rem;
}

.mdc-top-app-bar--fixed-adjust {
  height: 100%;
}

.mdc-tab-bar {
  background-color: #8559da;
}

.charts {
  background-color: #ffffff;
  
  .mdc-tab__content .mdc-tab__text-label {
    color: #00796b;
  }

  .mdc-tab__content .mdc-tab__icon {
    color: #00796b;
    }
}

.mdc-tab__content .mdc-tab__text-label {
  color: #ffffff;
}

.mdc-tab__content .mdc-tab__icon {
color: #ffffff;
}

.mdc-tab-indicator .mdc-tab-indicator__content {
  border: 2px solid #00796b
}


.content {
  margin: 5rem auto;
  padding-bottom: 20rem;
}

.sample-content--hidden {
  display: none;
}

.mdc-list-item {
  display: flex;
  justify-content: space-between;
  height: auto;
  font-size: 25px;
}

.icon-down {
  color: #4caf50;
}

.icon-up {
  color: #4caf50;
}

.mdc-icon-button {
  border-radius: 50%;
  color: #004c40;
  font-size: 15px;
}

.chart-container {
  width: 400px;
  height: 400px;
}

.footer {
  padding: 10px;
  box-sizing: border-box;
  height: 50px;
  background-color: #512da8;
  color: #ffffff;
}

.footer-main {
  margin-right: 30px;
}

.footer-secondary {
  color: #ffffff;
  opacity: 0.8;
}
